# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

###> IDES ###
/.idea/
###< IDES ###

###> Composer ###
/composer.lock
composer.phar
/vendor/
###< Composer ###

###> Node ###
/package-lock.json
/node_modules/
###< Node ###

###> Symfony ###
/apps/bc/backend/var/
###< Symfony ###

###> PHPDocumentor ###
/docs/cache/
###< PHPDocumentor ###

###> Env de Test, Dev ###
.env.local
.env.test
###< Env de Test, Dev ###